<tr class="follow">
  <td>
    <a href="" class="follow-link weibo"></a>
    <a href="" class="follow-link wechat"></a>
    <a href="" class="follow-link twitter"></a>
    <a href="" class="follow-link youtube"></a>
    <a href="" class="follow-link instagram"></a>
  </td>
</tr>
