---
layout: default_zh-cn.hbs
subject: (collector) 下线结算清单
---

<tr>
  <td>
    <table class="form">
      <thead>
        <tr>
          <th class="align-left" colspan="2">
            <div class="cover"><img src=<%= diagram.bg_image_url %>></div>
            <strong><%= survey.name %></strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"><span>收集器</span></td>
          <td><strong><%= collect_name %></strong></td>
        </tr>
        <tr>
          <td colspan="2"><span>回复数量</span></td>
          <td><strong><%= response_count %></strong></td>
        </tr>
        <tr>
          <td rowspan="2"><span>奖励</span></td>
          <td><strong><%= reward_name %></strong></td>
          <td><strong><%= reward_count %> / <%= reward_amount %></strong></td>
        </tr>
        <tr>
          <td><strong><%= reward_name %></strong></td>
          <td><strong><%= reward_count %> / <%= reward_amount %></strong></td>
        </tr>
        <tr>
          <td colspan="2"><span>合计</span></td>
          <td><strong><%= reward_amount %></strong></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    {{> button type='primary' align='center' url='%reset_password_url%' title='下载 PDF'}}
  </td>
</tr>
