---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">%collect% Statement after offline</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <a href="https://choiceform.com" target="_blank"><div class="brand-small grey"></div></a>
            {{> divider }}
            <h2 class="align-left">%collect% Statement</h2>
          </td>
        </tr>
        <tr>
          <td>
            <table class="form">
              <thead>
              <tr>
                <th class="align-left" colspan="2">
                  <div class="cover"><img src="%survey-cove%" alt=""></div>
                  <strong>%survey-name%</strong>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td colspan="2"><span>Collect</span></td>
                <td><strong>%collect%</strong></td>
              </tr>
              <tr>
                <td colspan="2"><span>Responses</span></td>
                <td><strong>1000</strong></td>
              </tr>
              <tr>
                <td rowspan="2"><span>Reward</span></td>
                <td><strong>%reward-name%</strong></td>
                <td><strong>1000 / ￥10</strong></td>
              </tr>
              <tr>
                <td><strong>%reward-name%</strong></td>
                <td><strong>1000 / ￥5</strong></td>
              </tr>
              <tr>
                <td colspan="2"><span>Total</span></td>
                <td><strong>￥10000</strong></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            {{> button type='primary' align='center' url='%reset_password_url%' title='Download as PDF'}}
            {{> divider }}
            <span>Questions? Please contact <a href="">support@cform.io</a>.</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <a href="https://choiceform.com" target="_blank"><div class="cf-logo"></div></a>
    </td>
  </tr>
</table>

{{> copyright }}