---
layout: default_en-us.hbs
subject: Your newest survey responses
---

<tr>
  <td class="table">
    <table>
      <thead>
      <tr>
        <th class="align-left" colspan="4">
          <div class="cover"><img src=<%= diagram.bg_image_url %>></div>
          <strong><%= survey.name %></strong>
        </th>
      </tr>
      <tr class="thead">
        <th class="align-left" colspan="4">Collect Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="align-left table-divider"><%= collector.name %></th>
        <td class="align-left table-divider"><%= collector.status %></td>
        <td class="align-right table-divider">
          <strong><%= collector.curr_amount %></strong>
          <span> / </span>
          <strong><%= collector.amount %></strong>
        </td>
        <td class="align-right table-divider"><%= collector.progress %></td>
      </tr>
      <tr>
        <th class="align-left table-divider"><%= collector.name %></th>
        <td class="align-left table-divider"><%= collector.status %></td>
        <td class="align-right table-divider">
          <strong><%= collector.curr_amount %></strong>
          <span> / </span>
          <strong><%= collector.amount %></strong>
        </td>
        <td class="align-right table-divider"><%= collector.progress %></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    {{> button type='primary' align='center' url='%surveys.data.grid%' title='See Responses'}}
  </td>
</tr>

<tr>
  <td class="table">
    <table>
      <thead>
      <tr>
        <th class="align-left" colspan="4">
          <div class="cover"><img src=<%= diagram.bg_image_url %>></div>
          <strong><%= survey.name %></strong>
        </th>
      </tr>
      <tr class="thead">
        <th class="align-left" colspan="4">Collect Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="align-left table-divider"><%= collector.name %></th>
        <td class="align-left table-divider"><%= collector.status %></td>
        <td class="align-right table-divider">
          <strong><%= collector.curr_amount %></strong>
          <span> / </span>
          <strong><%= collector.amount %></strong>
        </td>
        <td class="align-right table-divider"><%= collector.progress %></td>
      </tr>
      <tr>
        <th class="align-left table-divider"><%= collector.name %></th>
        <td class="align-left table-divider"><%= collector.status %></td>
        <td class="align-right table-divider">
          <strong><%= collector.curr_amount %></strong>
          <span> / </span>
          <strong><%= collector.amount %></strong>
        </td>
        <td class="align-right table-divider"><%= collector.progress %></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    {{> button type='primary' align='center' url='%page.surveys.data.grid%' title='See Responses'}}
  </td>
</tr>
