---
layout: default_zh-cn.hbs
subject: 团队已删除
---

<tr>
  <td>
    <p>
      此邮件确认
      <strong>%team.name%</strong>
      团队已经被
      <strong>%operator.name%</strong>
      从 choiceform 中删除。
    </p>
  </td>
</tr>
