---
layout: default_en-us.hbs
subject: (team) Team Deleted
---

<tr>
  <td>
    <p>
      This email is to confirm that the
      <strong>%team_name%</strong>
      team has been deleted from choiceform by
      <strong>%operator_name%</strong>
      .
    </p>
  </td>
</tr>
