---
layout: default_en-us.hbs
subject: Team deletion
---

<tr>
  <td>
    <p>
      This email is to confirm that the
      <strong>%team.name%</strong>
      team has been deleted from choiceform by
      <strong>%operator.name%</strong>
      .
    </p>
  </td>
</tr>
