---
layout: default_en-us.hbs
subject: (collector) first survey response
---

<tr>
  <td>
    <table class="form">
      <thead>
      <tr>
        <th class="align-left" colspan="2">
          <div class="cover"><img src=%bg_image_url%></div>
          <strong>%survey_name%</strong>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><span>Collect</span></td>
        <td><strong>%collector_name%</strong></td>
      </tr>
      <tr>
        <td><span>Status</span></td>
        <td><strong>Online</strong></td>
      </tr>
      <tr>
        <td><span>New response</span></td>
        <td><strong>1</strong></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    {{> button type='primary' align='center' url='%grid_url%' title='See Responses'}}
  </td>
</tr>
