---
layout: default_zh-cn.hbs
subject: 忘记密码
---

<tr>
  <td>
    <p>哦! 我们听说您丢失了密码。要变更密码，请单击下面的链接。</p>

    {{> button type='primary' align='center' url='%reset_password_url%' title='变更密码'}}

    <span>如果您无法按下“重置”按钮，可将以下网址复制到（或键入）您的浏览器，以此确认您的电邮地址：<a class="link small">%reset_password_url%</a></span>
    <span>您收到这封邮件是因为您注册了 choiceform，如果您没有发出此请求，请忽略。</span>
  </td>
</tr>
