---
layout: default_en-us.hbs
subject: (inviter) has invited you to join the (team) team
---

<tr>
  <td>
    <div class="invited-profile">
      <div class="profile"><img src="%team_avatar%" alt=""></div>
      <div class="octicon-plus"></div>
      <div class="profile"><img src="%invitee_avatar%" alt=""></div>
    </div>
    {{> divider }}

    <p>Hi %invitee_name%,</p>
    <p>%inviter_name% has invited you to join the test team on choiceform.</p>

    {{> button type='primary' align='center' url='%accept_invitation_url%' title='Join %team_name%'}}

    <span>Button not working? Paste the following link into your browser: <a class="link small">%accept_invitation_url%</a></span>
    <span>You’re receiving this email because %inviter_name% invited you to a team on choiceform.</span>
  </td>
</tr>
