---
layout: default_zh-cn.hbs
subject: (inviter_name)邀请您加入(team_name)团队。
---

<tr>
  <td>
    <div class="invited-profile">
      <div class="profile"><img src="%team_avatar%" alt=""></div>
      <div class="octicon-plus"></div>
      <div class="profile"><img src="%invitee_avatar%" alt=""></div>
    </div>
    {{> divider }}

    <p>%invitee_name%，您好：</p>
    <p>%inviter_name% 邀请您加入 choiceform 的 %team_name% 团队。</p>

    {{> button type='primary' align='center' url='%accept_invitation_url%' title='加入 %team_name%'}}

    <span>如果您无法按下“加入”按钮，可将以下网址复制到（或键入）您的浏览器，以此确认您的电邮地址：<a class="link small">%accept_invitation_url%</a></span>
    <span>您收到这封电子邮件是因为 %inviter_name% 邀请您参加 choiceform 上的一个团队。</span>
  </td>
</tr>
