---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main" border="0">
  <tr>
    <div class="cover-header brand dark"></div>
  </tr>
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2 class="align-left">Payment Receipt for Wester1220</h2>
            <table class="receipt">
              <tr>
                <td><span>Data</span></td>
                <td><strong>2017-10-24 03:53AM PDT</strong></td>
              </tr>
              <tr>
                <td><span>Account Billed</span></td>
                <td><strong>wester@cform.io</strong></td>
              </tr>
              <tr>
                <td><span>Rewards amount</span></td>
                <td><strong>$60 USD</strong> (Survey Project Name)</td>
              </tr>
              <tr>
                <td><span>Total</span></td>
                <td><strong>$64 USD</strong>*</td>
              </tr>
              <tr>
                <td><span>Transaction ID</span></td>
                <td><strong>0Q5X85TX</strong></td>
              </tr>
              <tr>
                <td><span>For service through</span></td>
                <td><strong>2017-10-24</strong></td>
              </tr>
            </table>
            <span>* VAT/GST paid directly by choiceform, where applicable</span>
            {{> divider }}
            <p>Questions? Please contact <a href="">support@cform.io</a>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> follow_lee }}

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
      <p class="align-center">This email was sent to wester1220@gmail.com. If you wish to unsubscribe or update your
        email
        preferences, please visit our
        Email Preference Center.</p>
    </td>
  </tr>
</table>
