---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main" border="0">
  <tr>
    <div class="cover-header brand dark"></div>
  </tr>
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>Your choiceform password for account with the User Name <strong>Westercloud</strong> and Email Address <strong>wester1220@126.com</strong> has been successfully reset.</p>
            <p>If you didn't request this change, please contact choiceform Support immediately at <a href="" class="link">support@cform.io</a>. </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> follow_lee }}

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
      <p class="align-center">This email was sent to wester1220@gmail.com. If you wish to unsubscribe or update your
        email
        preferences, please visit our
        Email Preference Center.</p>
    </td>
  </tr>
</table>
