---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">您已经从 %team_name% 团队中离开。</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <div class="brand-small grey"></div>
            {{> divider }}
            <h2 class="align-left">您已经从 <strong>%team_name%</strong> 团队中离开</h2>
            <p>%name%，您好：</p>
            <p>您已经被从 %team_name% 团队中移除。</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>

{{> copyright }}
