---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">You have been removed from the %team_name% team.</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <div class="brand-small grey"></div>
            {{> divider }}
            <h2 class="align-left">You have been removed from the <strong>%team_name%</strong> team</h2>
            <p>Hi %user_name%!</p>
            <p>You've been removed from the %team_name% team.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>

{{> copyright }}
