---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">Password reset</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <div class="brand-small grey"></div>
            {{> divider }}
            <h2 class="align-left">Forgot your password?</h2>
            <p>Oops! We heard you lost your password. If you really did, click the button below to change your password:</p>
            {{> button type='primary' align='center' url='%reset_password_url%' title='Change Password'}}
            {{> divider }}
            <p>Button not working? Paste the following link into your browser:</p>
            <a class="link small">%reset_password_url%</a>
            <span>You are receiving this email because you signed up to choiceform. If you did not make this request please contact <a href="" class="link">support@cform.io</a>.</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>

{{> copyright }}