---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">需要变更您账号的密码？</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <div class="brand-small grey"></div>
            {{> divider }}
            <h2 class="align-left">需要变更您账号的密码？</h2>
            <p>哦! 我们听说您丢失了密码。要变更密码，请单击下面的链接。</p>
            {{> button type='primary' align='center' url='%reset_password_url%' title='变更密码'}}
            {{> divider }}
            <p>如果您无法按下“重置”按钮，可将以下网址复制到（或键入）您的浏览器，以此确认您的电邮地址：</p>
            <a class="link small">%reset_password_url%</a>
            <span>您收到这封邮件是因为您注册了 choiceform。如果您没有发出此请求，请联系 <a href="" class="link">support@cform.io</a>。</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>

{{> copyright }}