---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main" border="0">
  <tr>
    <div class="cover-header brand dark"></div>
  </tr>
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2 class="align-left">%inviter_name% has invited you to join the <strong>%team_name%</strong> team</h2>
            <div class="invited-profile">
              <div class="profile"><img src="%team_avatar%" alt=""></div>
              <div class="octicon-plus"></div>
              <div class="profile"><img src="%invitee_avatar%" alt=""></div>
            </div>
            {{> divider }}
            <p>Hi %invitee_name%!</p>
            <p>%inviter_name% has invited you to join the test team on choiceform.</p>
            {{> button type='primary' align='center' url='%accept_invitation_url%' title='Join %team_name%'}}
            <span>Note: If you get a 404 page, make sure you’re signed in as %invitee_name%. You can also accept the invitation by visiting the organization page directly at <a href="" class="link">https://cform.io/test</a>.</span>
            {{> divider }}
            <span>Button not working? Paste the following link into your browser:</span>
            <a class="link small">%accept_invitation_url%</a>
            <span>You’re receiving this email because %inviter_name% invited you to a team on Choice Form.</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> follow_lee }}

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>
