---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">Team deletion</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <div class="brand-small grey"></div>
            {{> divider }}
            <p>This email is to confirm that the <strong>%xxx%</strong>team has been deleted from choiceform by <strong>%team_name%</strong>.</p>
            {{> divider }}
            <span>Your team’s files and data have been deleted from the system. If you have any questions or feedback, please contact <a href="" class="link">support@cform.io</a>.</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>

{{> copyright }}