---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">团队已删除</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <a href="https://choiceform.com" target="_blank"><div class="brand-small grey"></div></a>
            {{> divider }}
            <p>此邮件确认 <strong>%xxx%</strong> 团队已经被 <strong>%team_name%</strong> 从 choiceform 中删除。</p>
            {{> divider }}
            <span>您团队的文件和数据已从系统中删除。如果您有任何问题或反馈，请联系 <a href="" class="link">support@cform.io</a>。</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <a href="https://choiceform.com" target="_blank"><div class="cf-logo"></div></a>
    </td>
  </tr>
</table>

{{> copyright }}