---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main" border="0">
  <tr>
    <div class="cover-header brand dark"></div>
  </tr>
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2 class="align-left">You have been removed from the <strong>%team_name%</strong> team</h2>
            <p>Hi %user_name%!</p>
            <p>You've been removed from the %team_name% team.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> follow_lee }}

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>
