---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main" border="0">
  <tr>
    <div class="cover-header brand dark"></div>
  </tr>
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <h2 class="align-left">You have been removed from the <strong>test</strong> team</h2>
            <p>Hi elsonwangsh!</p>
            <p>You've been removed from the test team.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> follow_lee }}

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
      <p class="align-center">This email was sent to wester1220@gmail.com. If you wish to unsubscribe or update your
        email
        preferences, please visit our
        Email Preference Center.</p>
    </td>
  </tr>
</table>
