---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">您的密码已更新</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <div class="brand-small grey"></div>
            {{> divider }}
            <p>我们很高兴确认您的账号：<strong>%name%</strong> 及其相关联账号的密码已变更。</p>
            <p>您没有要求密码变更？请联系 <a href="" class="link">support@cform.io</a>。</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <div class="cf-logo"></div>
    </td>
  </tr>
</table>

{{> copyright }}