---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">New password</span>
<table class="main" border="0">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <a href="https://choiceform.com" target="_blank"><div class="brand-small grey"></div></a>
            {{> divider }}
            <p>Your choiceform password for account with the User Name <strong>%name%</strong> has been successfully reset.</p>
            {{> divider }}
            <span>If you didn't request this change, please contact choiceform Support immediately at <a href="" class="link">support@cform.io</a>. </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="footer">
    <td class="wrapper">
      <a href="https://choiceform.com" target="_blank"><div class="cf-logo"></div></a>
    </td>
  </tr>
</table>

{{> copyright }}