---
layout: default_zh-cn.hbs
subject: 升级确认
---

<tr>
  <td>
    <p>
      您已经升级到
      <strong>%plan%</strong>
      计划。 您可以随时
      <a href="" class="link"><strong>查看或打印收据</strong></a>
      。
    </p>
  </td>
</tr>
<tr>
  <td class="table">
    <table>
      <thead>
      <tr>
        <th class="align-left radius-top-left radius-top-right" colspan="2">订单详情</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="align-left table-divider">账号：</td>
        <th class="align-left table-divider">%name% (%email%)</th>
      </tr>
      <tr>
        <td class="align-left table-divider">计划：</td>
        <th class="align-left table-divider">%plan%</th>
      </tr>
      <tr>
        <td class="align-left radius-bottom-left">续费日期:</td>
        <th class="align-left radius-bottom-right">%date%</th>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    {{> button type='secondary' align='center' url='%url%' title='查看收据'}}
  </td>
</tr>
