---
layout: default.hbs
subject: Components Guide
---

<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main" border="0">
    <tr>
        <div class="cover-header"></div>
    </tr>
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="align-left">Please Confirm Your Email Address</h2>
                        <p>Your account info:</p>
                        <p>Username (e-mail): wester1220@gmail.com</p>

                        {{> button type='primary' align='center' url='https://www.cform.io' title='Verify your email'}}

                        <p>Not working? Try using this link:</p>
                        <a class="link small">https://www.cform.io/account/verifyEmail?token=CYdfFrPiM-lOmR8r2zx7UsSHRAwADljJrPb1YgItI-IFKuUiOhaS-JTIq0OyMCvGUkpmHkbnJ_9PpDIdzhSe4ScaQWpzRKLPtOW6jU2WwY4KBffn&utm_source=server_emails&utm_medium=email&utm_campaign=server_201407&utm_content=verify</a>
                        <span>You are receiving this email because you signed up to choiceform. If you did not make this request please contact choiceform Support.</span>
                        {{!-- <p>{{> follow_lee }}</p> --}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    {{> follow_lee }}

    <tr class="footer">
        <td class="wrapper">
            <div class="cf-logo"></div>
            <p class="align-center">This email was sent to wester1220@gmail.com. If you wish to unsubscribe or update your email
                preferences, please visit our
                Email Preference Center.</p>
        </td>
    </tr>
</table>
