---
layout: default_en-us.hbs
subject: Please verify your email address
---

<tr>
  <td>
    <p>Hi %name%,</p>

    {{> button type='primary' align='center' url='%verify_url%' title='Verify your email'}}

    <span>Button not working? Paste the following link into your browser: <a class="link small">%verify_url%</a></span>
    <span>You are receiving this email because you signed up to choiceform, If you did not make this request please ignore.</span>
  </td>
</tr>
