---
layout: default_zh-cn.hbs
subject: 请验证您的电子邮件地址
---

<tr>
  <td>
    <p>%name%，您好：</p>

    {{> button type='primary' align='center' url='%verify_url%' title='验证邮件地址'}}

    <span>如果您无法按下“验证”按钮，可将以下网址复制到（或键入）您的浏览器，以此确认您的电邮地址：<a class="link small">%verify_url%</a></span>
    <span>您收到这封邮件是因为您注册了 choiceform，如果您没有发出此请求，请忽略。</span>
  </td>
</tr>
