---
layout: blank_en-us.hbs
subject: Welcome (name)
---

<tr><div class="cover-header primary logo white"></div></tr>
<tr>
  <td class="wrapper">
    <table>
      <tr>
        <td>
          <h1 class="align-center">Hi %name%</h1>

          {{> divider }}

          <h2 class="align-left">Welcome to choiceform</h2>

          <p>I'm excited to have you on board! With your valuable contribution, we can reach the next level!</p>
          <p>choiceform this is a beta, not everything will be perfect yet. A lot of awesome features will be added during or after the beta period.</p>

          {{> divider }}

          <p>We need to make sure this is your email address. Please, click the button below to verify it so that we can activate your full access free account.</p>

          {{> button type='secondary' align='center' url='%verify_url%' title='Verify my email'}}

          <p>Button not working? Paste the following link into your browser: <a class="link small">%verify_url%</a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
