<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>%subject%</title>
  <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="content">
    <table class="main" border="0">
      <tr>
        <td class="wrapper">
          <table>
            <tr>
              <td>
                <a href="https://www.choiceform.com" target="_blank"><div class="brand-small grey"></div></a>
                {{> divider }}
                <h2 class="align-left">%subject%</h2>
              </td>
            </tr>

            {{ body }}

            <tr>
              <td>
                {{> divider }}
                <span>Have any questions? Please contact <a href="">support@choiceform.com</a>.</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="footer">
        <td class="wrapper">
          <a href="https://www.choiceform.com" target="_blank"><div class="cf-logo"></div></a>
        </td>
      </tr>
    </table>

    <table class="copyright">
      <tr>
        <td>Copyright © 2019 choiceform. All rights reserved.</td>
      </tr>
    </table>
  </div>
</body>
</html>
